<html>
<head>
  
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  
</head>
<body>

It works! 
  
{{#md}}
  
# This is a test

This should be *markdown*.
  
This should be equal to `bar` in the query string: {{bar}}
  
{{/md}}

{{{md content}}}
  
{{> molecules-bar}}
  
{{> atoms-baz}}
  
</body>
</html>