<html>
<head>
  
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  
</head>
<body>{{{log this}}}

{{> organisms-header}}
  
<h1>Home Template</h1>
  
This is the home page template.
  
{{#md}}

It's able to display inline **markdown**.
  
{{/md}}
  
{{{md content}}}
  
</body>
</html>