<html>
<head>
  
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  
</head>
<body>

<h1>Primary Template</h1>
  
This page is using the primary template.
  
{{{md content}}}
  
</body>
</html>