<html>
<head>
  
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  
</head>
<body>

<h1>Secondary Template</h1>
  
This page is using the secondary template.
  
{{{md content}}}
  
{{> molecules-list}}
  
</body>
</html>