<div class="form-page">

  {{> organisms-header classes='form-page-header'}}

  {{#extend 'organisms-main' type='form-page' classes='form-page-main'}}
    {{#content 'section-main-body'}}
      {{> molecules-form-libwizard}}
    {{/content}}
  {{/extend}}

  {{> organisms-footer classes='form-page-footer'}}

</div>
