<div class="form-page">
  <header class="form-page-header"></header>
  {{#extend 'organisms-main' type='form-page' classes='form-page-main'}}
    {{#content 'section-main-body'}}
      {{> molecules-form-libwizard}}
    {{/content}}
  {{/extend}}
  <footer class="form-page-footer"></footer>
</div>
