{{{_inspect this}}}

<div class="home-page">
  <header class="home-page-header"></header>
  <div class="home-page-main">
    {{#extend 'organisms-main' type="home-page" classes=""}}
      {{#content 'section-main-body'}}
        {{>organisms-intro-home background-image=intro.background-image badge=intro.badge link=intro.link id=intro-id back=intro.back tabs=intro.tabs services=intro.services button=intro.button processor=intro.processor}}
        <div class="popular-row">
          {{>compounds-popular-links-menu title=popular-links.title items=popular-links.items}}
          <div class="access-links-menu">
            <h4 class="heading popular-links-menu-title">{{access-links.title}}</h4>
            {{>tokens-heading level=5 classes="access-hours" heading=access-links.hours}}
            <ul class="access-links-list">
              {{#each access-links.items}}
              <li>{{>atoms-link }}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        {{>compounds-slider arrows=slider.arrows slides=slider.slides}}
      {{/content}}
    {{/extend}}
    
    {{#extend 'organisms-major' type="home-page" heading=related.heading theme="light" classes=""}}
      {{#content 'section-major-body'}}
        {{>compounds-cards card-type=related.card-type cards=related.cards}}
        {{>atoms-button-link classes="view-more" label=related.button.label href=related.button.href target=related.button.target}}
      {{/content}}
    {{/extend}}

    {{#extend 'organisms-major' type="home-page" theme="dark" classes="" heading=content-well-heading}}
      {{#content 'section-major-body'}}
        {{>organisms-flow-content-boxes feature=content-boxes.feature explorer=content-boxes.explorer}}
        {{>molecules-wayfinder image=wayfinder.image heading=wayfinder.heading text=wayfinder.text buttons=wayfinder.buttons}}
      {{/content}}
    {{/extend}}

    {{#extend 'organisms-major' type="home-page" heading=feed-preview.heading theme="light" classes=""}}
      {{#content 'section-major-body'}}
        {{>organisms-flow-feed-preview feature=feed-preview.feature feeds=feed-preview.feeds}}
      {{/content}}
    {{/extend}}
  </div>

  <footer class="home-page-footer"></footer>
</div>