<div class="home-page">
  <header class="home-page-header"></header>
  <div class="home-page-main">

    {{#with intro}}{{> organisms-intro-home}}{{/with}}

    {{> organisms-popular }}

    {{#with slider}}{{> compounds-slider arrows=true}}{{/with}}

    {{#with related}}
    {{#extend 'organisms-major' theme='light' classes='home-page-main-cards'}}
      {{#content 'section-major-body'}}
        {{> compounds-cards card-type='library-aid'}}
        {{#if buttons}}
          <div class="button-group">
            {{#each buttons}}{{> atoms-button-link}}{{/each}}
          </div>
        {{/if}}
      {{/content}}
    {{/extend}}
    {{/with}}

    {{#with boxes}}
    {{#extend 'organisms-major' theme='dark' classes='home-page-main-boxes'}}
      {{#content 'section-major-body'}}
        {{> organisms-flow-content-boxes}}
        {{#with wayfinder}}{{> molecules-wayfinder}}{{/with}}
      {{/content}}
    {{/extend}}
    {{/with}}

    {{#with feeds}}
    {{#extend 'organisms-major' theme='light' classes='home-page-main-feeds'}}
      {{#content 'section-major-body'}}
        {{> organisms-flow-feed-preview}}
      {{/content}}
    {{/extend}}
    {{/with}}

  </div>
  <footer class="home-page-footer"></footer>
</div>
