{{! Reformat blocks for improved compatability. }}
{{#each blocks}}

  {{! Find invalid image paths, and remove them. }}
  {{#if (eq src '/')}}
    {{assign 'src' null}}
  {{/if}}

  {{! Save the updated block. }}
  {{storagePush 'blocks' this}}
{{/each}}

{{! Update the blocks data. }}
{{assign 'blocks' (storageGet 'blocks')}}

{{! Assign recent issues type and heading}}
{{assign 'recent-issues.type' 'utility'}}

<div class="periodicals-page">

  {{> organisms-header classes='periodicals-page-header'}}

  <div class="periodicals-page-main">
    {{#extend 'organisms-main' type="periodicals-page" classes=""}}
      {{#content 'section-main-body'}}
        {{> compounds-blocks}}
      {{/content}}
      {{#content 'section-main-other'}}
        <div class="section-main-spacer"></div>
        <section class="section-main-content">
          {{#embed 'compounds-files' heading=(default recent-issues.heading 'Recent Issues')}}
            {{#content 'grouping-files-content'}}
              {{> compounds-tiles tile-type=recent-issues.type tiles=recent-issues.tiles}}
            {{/content}}
          {{/embed}}
        </section>
        <div class="section-main-spacer"></div>
        <section class="section-main-content">
          {{> compounds-files heading=(default past-issues.heading 'Past Issues') items=past-issues.items icon='material-import_contacts'}}
        </section>
      {{/content}}
    {{/extend}}
  </div>

  {{> organisms-footer classes='periodicals-page-footer'}}

</div>
