

{{! Reformat blocks for improved compatability. }}
{{#each blocks}}

  {{! Find invalid image paths, and remove them. }}
  {{#if (eq src '/')}}
    {{assign 'src' null}}
  {{/if}}

  {{! Save the updated block. }}
  {{storagePush 'blocks' this}}
{{/each}}

{{! Update the blocks data. }}
{{assign 'blocks' (storageGet 'blocks')}}

{{! Assign recent issues type and heading}}
{{assign 'recent-issues.type' 'utility'}}


<div class="periodicals-page">
  <header class="periodicals-page-header"></header>
  {{#extend 'organisms-main' type="periodicals-page" classes="periodicals-page-main"}}
    {{#content 'section-main-body'}}
    {{> compounds-blocks}}
    {{/content}}
    {{#content 'section-main-other'}}
    <div class="section-main-spacer"></div>
    <section class="section-main-content">
      {{>tokens-heading level=2 heading=recent-issues.heading}}
      {{>compounds-tiles tile-type=recent-issues.type tiles=recent-issues.tiles}}
    </section>
    <section class="section-main-content">
      {{>tokens-heading level=2 heading=past-issues.heading}}
      {{>compounds-files items=past-issues.items}}
    </section>
    {{/content}}
  {{/extend}}
  <footer class="periodicals-page-footer"></footer>
</div>