<div class="research-help-page">
  <header class="research-help-page-header"></header>
  {{> organisms-main type="research-help-page" classes="research-help-page-main"}}
  <footer class="research-help-page-footer"></footer>
</div>
