<ul class="list -links{{#if classes}} {{classess}}{{/if}}">
  {{#each links}}
  <li class="list-item">{{#if data }}{{> atoms-link label=data classes=''}}{{else}}{{> atoms-link classes=''}}{{/if}}</li>
  {{/each}}
</ul>
