<div class="feed"{{#if url}}data-feed="{{url}}"{{/if}}>
  {{> tokens-heading level=3 classes='feed-heading'}}
  <div class="feed-content">
    {{#each (limit content 5)}}{{> molecules-feed-item}}{{/each}}
  </div>
  {{#if button}}
    {{#with button}}{{> atoms-button-link classes='feed-button' label=(default label (combine 'View All ' ../heading)) icon=false}}{{/with}}
  {{/if}}
</div>
