<eul-nav-menu inline-template>
  <nav class="nav-menu-main">

    {{! Toggles }}
    {{#each navigation.main}}{{> atoms-input-toggle id=(combine 'nav-menu-main--' (dashcase (lowercase label)))}}{{/each}}
    {{#each navigation.utilities}}{{> atoms-input-toggle id=(combine 'nav-menu-main--' (dashcase (lowercase label)))}}{{/each}}

    {{! Desktop }}
    <nav class="nav-menu-main-nav -desktop">

      {{#each navigation.main}}
        <div class="nav-menu-main-nav-group" @mouseover='open' @mouseleave='close'>
          {{> atoms-nav-button-main classes='' mouseover=false mouseleave=false}}
          {{> compounds-subnav-menu-main heading=label navigation=subnavigation mouseover=false mouseleave=false}}
        </div>
      {{/each}}

    </nav>

    {{! Tablet }}
    <nav class="nav-menu-main-nav -tablet">

      {{#each navigation.main}}
        {{> atoms-nav-button-main classes='' mouseover='open' mouseleave='close'}}
        {{> compounds-subnav-menu-main heading=label navigation=subnavigation mouseover='open' mouseleave='close'}}
      {{/each}}

    </nav>

    {{! Mobile }}
    <nav class="nav-menu-main-nav -mobile">

      {{> atoms-input-toggle id='nav-menu-main--mobile-menu-toggle' classes='for-menu'}}
      {{> atoms-input-toggle id='nav-menu-main--mobile-search-toggle' classes='for-search'}}

      <div class="nav-menu-main-nav-toggles">
        {{> atoms-nav-button-toggle search=false icon='material-menu' for-suffix='mobile-menu-toggle' label='Menu' classes='for-menu -open'}}
        {{> atoms-nav-button-toggle search=false icon='material-close' for-suffix='mobile-menu-toggle' label='Close' classes='for-menu -close'}}
        {{> atoms-nav-button-toggle search=false icon='material-search' for-suffix='mobile-search-toggle' label='Search' classes='for-search -open'}}
        {{> atoms-nav-button-toggle search=false icon='material-chevron_right' for-suffix='mobile-search-toggle' label='Back to Menu' classes='for-search -close'}}
      </div>

      <div class="nav-menu-main-nav-menu is-menu">

        {{#with navigation}}{{> compounds-nav-menu-utility mobile-only=true classes=''}}{{/with}}

        <div class="nav-menu-main-nav-menu-area">
          {{#each navigation.main}}
            {{> atoms-nav-button-main classes='' mouseover=false mouseleave=false}}
            {{> compounds-subnav-menu-main heading=label navigation=subnavigation mouseover=false mouseleave=false}}
          {{/each}}
          {{#each navigation.utilities}}
            {{#unless subnavigation}}
              {{> atoms-nav-button-main classes='' link=true}}
            {{else}}
              {{> atoms-nav-button-main classes='' mouseover=false mouseleave=false}}
              {{> compounds-subnav-menu-main heading=label navigation=subnavigation mouseover=false mouseleave=false}}
            {{/unless}}
          {{/each}}
        </div>

        {{#with navigation.button}}{{> atoms-nav-button-librarian classes=''}}{{/with}}

      </div>

      <div class="nav-menu-main-nav-menu is-search">

        {{#with search}}{{> organisms-search-menu classes='' home=false}}{{/with}}

      </div>

    </nav>

  </nav>
</eul-nav-menu>

<noscript>

  <nav class="nav-menu-main">

    {{! Toggles }}
    {{#each navigation.main}}{{> atoms-input-toggle id=(combine 'nav-menu-main--' (dashcase (lowercase label)))}}{{/each}}
    {{#each navigation.utilities}}{{> atoms-input-toggle id=(combine 'nav-menu-main--' (dashcase (lowercase label)))}}{{/each}}

    {{! Desktop }}
    <nav class="nav-menu-main-nav -desktop">

      {{#each navigation.main}}
        <div class="nav-menu-main-nav-group">
          {{> atoms-nav-button-main}}
          {{> compounds-subnav-menu-main heading=label navigation=subnavigation noscript=true}}
        </div>
      {{/each}}

    </nav>

    {{! Tablet }}
    <nav class="nav-menu-main-nav -tablet">

      {{#each navigation.main}}
        {{> atoms-nav-button-main classes=''}}
        {{> compounds-subnav-menu-main heading=label navigation=subnavigation noscript=true}}
      {{/each}}

    </nav>

    {{! Mobile }}
    <nav class="nav-menu-main-nav -mobile">

      {{> atoms-input-toggle id='nav-menu-main--mobile-menu-toggle' classes='for-menu'}}
      {{> atoms-input-toggle id='nav-menu-main--mobile-search-toggle' classes='for-search'}}

      <div class="nav-menu-main-nav-toggles">
        {{> atoms-nav-button-toggle search=false icon='material-menu' for-suffix='mobile-menu-toggle' label='Menu' classes='for-menu -open'}}
        {{> atoms-nav-button-toggle search=false icon='material-close' for-suffix='mobile-menu-toggle' label='Close' classes='for-menu -close'}}
        {{> atoms-nav-button-toggle search=false icon='material-search' for-suffix='mobile-search-toggle' label='Search' classes='for-search -open'}}
        {{> atoms-nav-button-toggle search=false icon='material-close' for-suffix='mobile-chevron_right' label='Back to Menu' classes='for-search -close'}}
      </div>

      <div class="nav-menu-main-nav-menu is-menu">

        {{#with navigation}}{{> compounds-nav-menu-utility mobile-only=true classes=''}}{{/with}}

        <div class="nav-menu-main-nav-menu-area">
          {{#each navigation.main}}
            {{> atoms-nav-button-main classes='' mouseover=false mouseleave=false}}
            {{> compounds-subnav-menu-main heading=label navigation=subnavigation mouseover=false mouseleave=false noscript=true}}
          {{/each}}
          {{#each navigation.utilities}}
            {{#unless subnavigation}}
              {{> atoms-nav-button-main classes='' link=true}}
            {{else}}
              {{> atoms-nav-button-main classes='' mouseover=false mouseleave=false}}
              {{> compounds-subnav-menu-main heading=label navigation=subnavigation mouseover=false mouseleave=false noscript=true}}
            {{/unless}}
          {{/each}}
        </div>

        {{#with navigation.button}}{{> atoms-nav-button-librarian classes=''}}{{/with}}

      </div>

      <div class="nav-menu-main-nav-menu is-search">

        {{#with search}}{{> organisms-search-menu classes='' home=false noscript=true}}{{/with}}

      </div>

    </nav>

  </nav>
</noscript>
