<div class="flow-content-boxes">
  {{>molecules-feature image=feature.image context=feature.context buttons=feature.buttons heading=feature.heading}}
  {{>molecules-explorer links=explorer.links heading=explorer.heading}}
</div>
