{{#if background-image}}
  {{#if (and (startsWithSubstring background-image '/') (not (startsWithSubstring background-image '//')))}}
    {{assign 'background-image' (absolutePath background-image)}}
  {{/if}}
{{/if}}

<header class="intro-home" style="--image: url({{background-image}});">
  <div class="intro-home-search">
    {{#with search}}{{> organisms-search-menu home=true}}{{/with}}
  </div>
  {{#if badge}}
    {{> atoms-badge label=badge white=true square=true classes="intro-home-badge"}}
  {{/if}}
  <a class="intro-home-title" href="{{link.href}}" target="_self">
    {{> tokens-heading level=1 alternate=true heading=link.title icon=false}}
  </a>
</header>
