<header class="intro-hero" style="--image: url({{background-image}});">
  {{#if badge}}{{> atoms-badge label=badge.label white=true square=true classes="intro-hero-badge"}}{{/if}}
  {{> tokens-heading level=1 alternate=true classes="intro-hero-title" heading=title icon=false hero=true}}
  {{#if subtitle}}<p class="intro-hero-subtitle">{{subtitle}}</p>{{/if}}
</header>
