<div class="main{{#if type}} -{{type}}{{/if}}{{#if classes}} {{classes}}{{/if}}">
  {{> organisms-intro-alt-text}}
  <main class="main-body">
    {{> compounds-blocks}}
  </main>
  <aside class="main-sidebar"></aside>
</div>
