<div class="section-main{{#if type}} -{{type}}{{/if}}{{#if classes}} {{classes}}{{/if}}">
  {{> organisms-intro-alt-text}}
  <main class="section-main-body">
    {{#unless blocks}}
    {{!--#block 'section-main-body'}}{{/block--}}
    {{else}}
    {{> compounds-blocks}}
    {{/unless}}
  </main>
  <aside class="section-main-sidebar"></aside>
</div>
