<div class="section-major{{#if theme}} -{{theme}}{{/if}}">
  {{> tokens-heading level=2 classes="section-major-title" icon=false}}
  <div class="section-major-body">
    {{#block "section-major-body"}}{{/block}}
  </div>
</div>
