<div class="section-minor{{#if theme}} -{{theme}}{{/if}}">
  {{> tokens-heading level=4 classes="section-minor-title" icon=(default icon false)}}
  <div class="section-minor-body">
    {{#block "section-minor-body"}}{{/block}}
  </div>
</div>
