<a class="card-button{{#if (or hover focus)}} is-hover{{/if}}{{#if active}} is-active{{/if}}{{#if disabled}} is-disabled{{/if}}{{#if classes}} {{classes}}{{/if}}" href="{{href}}" target="{{default target '_self'}}"{{#if disabled}} disabled{{/if}}>
  {{label}}
</a>
