<div class="feed-item {{#if button}} has-action{{/if}}"{{#if id}} data-id="{{id}}"{{/if}}>
  <span class="feed-item-date">{{{sanitize this.date}}}</span>
  {{#with link}}{{> atoms-link label=(sanitize ../title) classes="feed-item-title" raw=true}}{{/with}}
  {{#if button}}
    {{#with button}}{{> atoms-button-link hollow=true classes="feed-item-action"}}{{/with}}
  {{/if}}
</div>
